[submodule "chinilla-blockchain-gui"]
	path = chinilla-blockchain-gui
	url = https://github.com/Chinilla/chinilla-blockchain-gui.git
	branch = release/1.7.0
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chinilla/mozilla-ca.git
        branch = main
